<template>
  <div class="movie-table">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title">Movies</h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <b-input
            type="search"
            icon="magnify"
            placeholder="Search"
            v-model="keyword"
          />
        </div>
        <div class="level-item">
          <b-switch v-model="hideWatched">Hide watched</b-switch>
        </div>
      </div>
    </div>

    <b-table
      :data="filteredMovies"
      :mobile-cards="false"
      hoverable
      default-sort="title"
      default-sort-direction="asc"
      paginated
      :per-page="perPage"
      :current-page.sync="currentPage"
    >
      <template slot-scope="props">
        <b-table-column field="title" label="Title" sortable>
          {{ props.row.title }}
        </b-table-column>
        <b-table-column field="year" width="1" label="Year" centered sortable>
          {{ props.row.year }}
        </b-table-column>
        <b-table-column
          field="watched"
          width="1"
          label="Watched"
          centered
          sortable
        >
          {{ props.row.watched }}
        </b-table-column>
        <b-table-column field="imdb" label="IMDB" width="1" centered sortable>
          <a target="_blank" rel="noreferrer noopener" :href="props.row.imdb"
            >Link</a
          >
        </b-table-column>
      </template>
      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered ">
            <p>
              <b-icon icon="emoticon-sad" size="is-large"> </b-icon>
            </p>
            <p>Nothing here.</p>
          </div>
        </section>
      </template>
    </b-table>
  </div>
</template>

<script>
import Configuration from "../Configuration/Configuration.js";

export default {
  name: "MovieTable",
  data() {
    return {
      /**
       * The current page of the pagination.
       *
       * @var Number
       */
      currentPage: 1,
      /**
       * The number of items that should be displayed in the pagination.
       *
       * @var Number
       */
      perPage: 50,
      /**
       * The arrays of the movies which were fetched.
       *
       * @var Array
       */
      movies: [],
      /**
       * The current entered search keyword.
       *
       * @var Array
       */
      keyword: "",
      /**
       * Whether to hide the already watched movies from the list.
       *
       * @var Boolean
       */
      hideWatched: false
    };
  },
  created() {
    // Check if there are movies in cache
    if (localStorage.getItem(Configuration.MOVIE_CACHE_KEY)) {
      this.movies = JSON.parse(
        localStorage.getItem(Configuration.MOVIE_CACHE_KEY)
      );
    }

    this.fetchMovies();
  },
  methods: {
    async fetchMovies() {
      const response = await fetch(Configuration.MOVIE_API_URL);
      const jsonResponse = await response.json();

      const rows = jsonResponse.values;
      let movies = [];

      rows.forEach(row => {
        movies.push({
          title: row[0],
          year: parseInt(row[1]),
          watched: row[2],
          rating: parseInt(row[3]),
          imdb: row[4]
        });
      });

      this.movies = movies;

      // Setting local storage
      localStorage.setItem(
        Configuration.MOVIE_CACHE_KEY,
        JSON.stringify(this.movies)
      );
    }
  },
  computed: {
    filteredMovies() {
      let filteredMovies = this.movies.filter(movie => {
        return (
          movie.title.toLowerCase().indexOf(this.keyword.toLowerCase()) >= 0
        );
      });

      if (this.hideWatched) {
        filteredMovies = filteredMovies.filter(movie => movie.watched === "🗙");
      }

      return filteredMovies;
    }
  }
};
</script>
