<template>
  <div class="movie-table">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <h1 class="title">TV Shows</h1>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <b-input
            type="search"
            icon="magnify"
            placeholder="Search"
            v-model="keyword"
          />
        </div>
        <div class="level-item">
          <b-switch v-model="hideWatched">Hide watched</b-switch>
        </div>
      </div>
    </div>

    <b-table
      :data="filteredShows"
      :mobile-cards="false"
      hoverable
      default-sort="title"
      default-sort-direction="asc"
      paginated
      :per-page="perPage"
      :current-page.sync="currentPage"
    >
      <template slot-scope="props">
        <b-table-column field="title" label="Title" sortable>
          {{ props.row.title }}
        </b-table-column>
        <b-table-column field="year" width="1" label="Year" centered sortable>
          {{ props.row.year }}
        </b-table-column>
        <b-table-column
          field="seasons"
          width="1"
          label="Seasons"
          numeric
          sortable
        >
          {{ props.row.seasons }}
        </b-table-column>
        <b-table-column
          field="episodes"
          width="1"
          label="Episodes"
          numeric
          sortable
        >
          {{ props.row.episodes }}
        </b-table-column>
        <b-table-column
          field="percentage"
          width="1"
          class="min-cell"
          label="Watched"
          sortable
        >
          {{ props.row.watchedEpisodes }} / {{ props.row.episodes }} ({{
            props.row.percentage
          }}%)
        </b-table-column>
        <b-table-column field="imdb" label="IMDB" width="1" centered sortable>
          <a target="_blank" rel="noreferrer noopener" :href="props.row.imdb"
            >Link</a
          >
        </b-table-column>
      </template>
      <template slot="empty">
        <section class="section">
          <div class="content has-text-grey has-text-centered ">
            <p>
              <b-icon icon="emoticon-sad" size="is-large"> </b-icon>
            </p>
            <p>Nothing here.</p>
          </div>
        </section>
      </template>
    </b-table>
  </div>
</template>

<script>
import Configuration from "../Configuration/Configuration.js";

export default {
  name: "TVShowTable",
  data() {
    return {
      /**
       * The current page of the pagination.
       *
       * @var Number
       */
      currentPage: 1,
      /**
       * The number of items that should be displayed in the pagination.
       *
       * @var Number
       */
      perPage: 50,
      /**
       * The arrays of the movies which were fetched.
       *
       * @var Array
       */
      shows: [],
      /**
       * The current entered search keyword.
       *
       * @var Array
       */
      keyword: "",
      /**
       * Whether to hide the already watched movies from the list.
       *
       * @var Boolean
       */
      hideWatched: false
    };
  },
  created() {
    // Check if there are movies in cache
    if (localStorage.getItem(Configuration.SHOW_CACHE_KEY)) {
      this.shows = JSON.parse(
        localStorage.getItem(Configuration.SHOW_CACHE_KEY)
      );
    }

    this.fetchShows();
  },
  methods: {
    async fetchShows() {
      const response = await fetch(Configuration.SHOW_API_URL);
      const jsonResponse = await response.json();

      const rows = jsonResponse.values;
      let shows = [];

      rows.forEach(row => {
        shows.push({
          title: row[0],
          year: parseInt(row[1]),
          seasons: parseInt(row[2]),
          episodes: parseInt(row[3]),
          watchedEpisodes: parseInt(row[4]),
          rating: parseInt(row[5]),
          imdb: row[6],
          percentage: Math.floor((row[4] / row[3]) * 100)
        });
      });

      this.shows = shows;

      // Setting local storage
      localStorage.setItem(
        Configuration.SHOW_CACHE_KEY,
        JSON.stringify(this.shows)
      );
    }
  },
  computed: {
    filteredShows() {
      let filteredShows = this.shows.filter(show => {
        return (
          show.title.toLowerCase().indexOf(this.keyword.toLowerCase()) >= 0
        );
      });

      if (this.hideWatched) {
        filteredShows = filteredShows.filter(show => show.percentage < 100);
      }

      return filteredShows;
    }
  }
};
</script>
<style lang="scss">
.min-cell {
  white-space: nowrap;
}
</style>
