<template>
  <div>
    <nav
      class="navbar is-primary"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-item">Kodi Statistics</div>
          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
            :class="{ 'is-active': isNavigationOpen }"
            @click="toggleNavigation"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div :class="{ 'is-active': isNavigationOpen }" class="navbar-menu">
          <div class="navbar-start">
            <router-link class="navbar-item" to="/movies">Movies</router-link>
            <router-link class="navbar-item" to="/shows">TV Shows</router-link>
          </div>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container" id="app">
        <router-view></router-view>
      </div>
      <footer class="container">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <p>
                Created by
                <a
                  target="_blank"
                  rel="noreferrer noopener"
                  href="https://severinkaderli.ch"
                  >Severin Kaderli</a
                >
                &copy;2018–{{ currentYear }}
              </p>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">Version {{ version }}-{{ commitHash }}</div>
            <div class="level-item">
              <a
                target="_blank"
                rel="noreferrer noopener"
                href="https://gitlab.com/severinkaderli/movie-list"
              >
                <b-icon icon="gitlab"></b-icon>
              </a>
            </div>
          </div>
        </div>
      </footer>
    </section>
  </div>
</template>

<script>
const version = VERSION;
const commitHash = COMMIT_HASH;

export default {
  name: "App",
  data() {
    return {
      /**
       * The current version of the application.
       *
       * @var String
       */
      version,
      /**
       * The current commit hash.
       *
       * @var String
       */
      commitHash,
      /**
       * The current year.
       *
       * @var Number
       */
      currentYear: new Date().getFullYear(),
      /**
       * Flag whether the navigation on mobile devices is open or not.
       *
       * @bar Boolean
       */
      isNavigationOpen: false
    };
  },
  methods: {
    toggleNavigation() {
      this.isNavigationOpen = !this.isNavigationOpen;
    }
  }
};
</script>

<style lang="scss">
$primary: hsl(204, 86%, 53%);
$link: $primary;
$link-focus-border: $primary;
$footer-background-color: #fff;

@import "~@mdi/font/css/materialdesignicons.min.css";
@import "~bulma";
@import "~buefy/src/scss/buefy";

footer.container {
  padding-top: 3rem;
}
</style>
